absl-py==0.7.1
astor==0.7.1
control==0.8.2
cycler==0.10.0
gast==0.2.2
google-pasta==0.1.6
grpcio==1.20.1
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
matplotlib==3.0.3
mock==3.0.4
mpmath==1.1.0
numpy==1.16.3
packaging==19.0
pip==19.0.3
protobuf==3.7.1
PyDSTool==0.90.2
pyparsing==2.4.0
python-dateutil==2.8.0
scikit-build==0.10.0
scipy==1.2.1
setuptools==40.8.0
six==1.12.0
sympy==1.4
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorflow==2.0.0a0
tensorflow-estimator==1.13.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
Werkzeug==0.15.2
wheel==0.33.1
